name: Lint & run tests
on: [push, pull_request]
env:
  RUSTFLAGS: -D warnings
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: swatinem/rust-cache@v2

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: swatinem/rust-cache@v2

      - name: Install nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Run tests
        run: cargo nextest run --all-targets --all-features
